<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{pluResPath}}/html/yijieplayer/yijieplayer.css" />
    <link rel="preload" href="../../font/tttgbnumber.ttf" as="font" />
    <link rel="shortcut icon" href="#" />
    <style type="text/css">
        body {
            width: 100%;
            text-align: center;
            background-image: url('{{pluResPath}}/img/player_pifu/0.jpg');
            background-size: 100% auto;
        }
    </style>
</head>

<body>
    <div>
        <div class="header"></div>
        <!--上-->
        <div class="card_box">
            <!--左-->
            <div class="user_top_left">
                <div class="user_top_img_bottom">
                    <img class="user_top_img" src="https://q1.qlogo.cn/g?b=qq&s=0&nk={{user_id}}"
                        onerror="whenError(this)" />
                </div>
                <div class="user_top_font_left">战力 {{PowerMini}}</div>
            </div>
            <!--右-->
            <div class="user_top_right">
                <div class="user_top_font_right">
                    名号：{{player.名号}}
                </div>
                <div class="user_top_font_right">
                    生命：{{(player.血量上限).toFixed(0)}}
                </div>
                <div class="user_top_font_right">
                    攻击：{{player.攻击}}
                </div>
                <div class="user_top_font_right">
                    防御：{{player.防御}}
                </div>
            </div>
        </div>
        <!--下-->
        <div class="card_box">
            <div class="use_data">
                <div class="user_font user_font_title">【基础信息】</div>
                <div class="user_font wupin">
                    <div class="item">
                        <div class="item_title font_left">
                            星魂币：{{player.星魂币}}
                        </div>
                        <div class="item_title font_left">
                            暴击：{{(player.暴击率*100).toFixed(0)}}%
                        </div>
                        <div class="item_title font_left">
                            暴伤：{{(player.暴击伤害*100).toFixed(0)}}%
                        </div>
                        <div class="item_title font_left">
                            饱食度:【{{player.饱食度}}】
                        </div>
                        <div class="item_title font_left">
                            异界状态:【{{status}}】
                        </div>
                    </div>
                </div>
                <div class="user_font wupin">
                    <div class="item">
                        <div class="item_title font_left">
                            {{xianding}}{{if player.xianding_exp >= xianding_exp_max}}[UP]{{/if}}
                        </div>
                        <div class="item_int">
                            <div class="xuetiao">
                                <div class="xueliang font_volume" {{strand_xianding.style}}>
                                    {{strand_xianding.num}}%
                                </div>
                            </div>
                        </div>
                        <div class="item_int">{{player.xianding_exp}}/{{xianding_exp_max}}</div>
                    </div>
                </div>
                <div class="user_font wupin">
                    <div class="item">
                        <div class="item_title font_left">
                            {{tianfu}}{{if player.tianfu_exp >= tianfu_exp_max}}[UP]{{/if}}
                        </div>
                        <div class="item_int">
                            <div class="xuetiao">
                                <div class="xueliang font_volume" {{strand_tianfu.style}}>
                                    {{strand_tianfu.num}}%
                                </div>
                            </div>
                        </div>
                        <div class="item_int">{{player.tianfu_exp}}/{{tianfu_exp_max}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!--下-->
        <div class="card_box2">
            <div class="use_data2">
                <div class="user_font user_font_title">【装备信息】</div>
                <div class="user_font wupin">
                    <div class="item">
                        <div class="item_title2">{{player.武器.name}}</div>
                        <div class="player">
                            攻击：{{(player.武器.atk).toFixed(0)}}
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_title2">{{player.护具.name}}</div>
                        <div class="player">
                            防御：{{(player.护具.def).toFixed(0)}}
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_title2">{{player.法宝.name}}</div>
                        <div class="player">
                            血量：{{(player.法宝.HP).toFixed(0)}}<br />
                            暴击：{{(player.法宝.bao*100).toFixed(0)}}%
                        </div>
                    </div>
                </div>

                <div class="user_font wupin">
                    <div class="item">
                        三件套装效果:{{taozhuang}}
                    </div>
                </div>
            </div>
        </div>
        <!--下-->

        <div class="user_bottom2"></div>
</body>

</html>