<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{pluResPath}}/html/gongfa/gongfa.css" />
    <link rel="preload" href="../../font/tttgbnumber.ttf" as="font" />
    <link rel="shortcut icon" href="#" />
</head>

<body>
    <div>
        <div class="header">
        </div>
        <!--上-->
        <div class="card_box">
            <div class="use_data">
                <div class="user_font user_font_title">{{nickname}}的武器</div>
            </div>
        </div>

        <!--下-->
        {{if wuqi_have.length > 0 || wuqi2_have.length}}
    <div class="card_box">
        <div class="use_data">
            <div class="user_font user_font_title">【已拥有】</div>
            <div class="user_font  wupin">
                {{each wuqi_have item}}
                <div class="item">
                    <div class="item_title font_item_title"style="height: 45px;">{{item.name}}</div>
                    <div class="item_int"style="padding-left: 38px;">攻击：{{item.atk}}</div>
                    <div class="item_int"style="padding-left: 38px;">防御：{{item.def}}</div>
                    <div class="item_int"style="padding-left: 38px;">血量：{{item.HP}}</div>
                    <div class="item_int"style="padding-left: 38px;">暴击：{{(item.bao*100).toFixed(0)}}%</div>
                    <div class="item_int"style="padding-left: 38px;">价格：{{(item.出售价).toFixed(0)}}</div>
                </div>
                {{/each}}
                {{each wuqi2_have item}}
                <div class="item">
                    <div class="item_title font_item_title"style="height: 45px;">{{item.name}}</div>
                    <div class="item_int"style="padding-left: 38px;">攻击：{{item.atk}}</div>
                    <div class="item_int"style="padding-left: 38px;">防御：{{item.def}}</div>
                    <div class="item_int"style="padding-left: 38px;">血量：{{item.HP}}</div>
                    <div class="item_int"style="padding-left: 38px;">暴击：{{(item.bao*100).toFixed(0)}}%</div>
                    <div class="item_int"style="padding-left: 38px;">价格：{{(item.出售价).toFixed(0)}}</div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
        {{/if}}

    <!--下-->
        {{if wuqi_need.length > 0}}
    <div class="card_box">
        <div class="use_data">
            <div class="user_font user_font_title">【未拥有】（普通）</div>
            <div class="user_font  wupin">
                {{each wuqi_need item}}
                <div class="item">
                    <div class="item_title font_item_title"style="height: 45px;">{{item.name}}</div>
                    <div class="item_int"style="padding-left: 38px;">攻击：{{item.atk}}</div>
                    <div class="item_int"style="padding-left: 38px;">防御：{{item.def}}</div>
                    <div class="item_int"style="padding-left: 38px;">血量：{{item.HP}}</div>
                    <div class="item_int"style="padding-left: 38px;">暴击：{{(item.bao*100).toFixed(0)}}%</div>
                    <div class="item_int"style="padding-left: 38px;">价格：{{(item.出售价).toFixed(0)}}</div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
        {{/if}}
        {{if wuqi2_need.length > 0}}
        <div class="card_box">
            <div class="use_data">
                <div class="user_font user_font_title">【未拥有】（限定）</div>
                <div class="user_font  wupin">
                    {{each wuqi2_need item}}
                    <div class="item">
                        <div class="item_title font_item_title"style="height: 45px;">{{item.name}}</div>
                        <div class="item_int"style="padding-left: 38px;">攻击：{{item.atk}}</div>
                        <div class="item_int"style="padding-left: 38px;">防御：{{item.def}}</div>
                        <div class="item_int"style="padding-left: 38px;">血量：{{item.HP}}</div>
                        <div class="item_int"style="padding-left: 38px;">暴击：{{(item.bao*100).toFixed(0)}}%</div>
                        <div class="item_int"style="padding-left: 38px;">价格：{{(item.出售价).toFixed(0)}}</div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
            {{/if}}

    <div class="user_bottom2">
    </div>
</body>
</html>
