<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{pluResPath}}/html/beibao/beibao.css" />
    <link rel="preload" href="../../font/tttgbnumber.ttf" as="font" />
    <link rel="shortcut icon" href="#" />
    <style type="text/css">
        body {
            width: 100%;
            text-align: center;
            background-image: url('{{pluResPath}}/img/player_pifu/0.jpg');
            background-size: 100% auto;
        }
    </style>
</head>

<body>
    <div>
        <div class="header">
        </div>
        <!--上-->
        <div class="card_box">
            <!--左-->
            <div class="user_top_left">
                <div class="user_top_img_bottom">
                    <img class="user_top_img" src="https://q1.qlogo.cn/g?b=qq&s=0&nk={{user_id}}"
                        onerror="whenError(this)" />
                </div>
                <div class="user_top_font_left">{{user_id}}</div>
            </div>
        </div>
    </div>
    <!--下-->
    {{if najie.装备.length > 0}}
    <div class="card_box">
        <div class="use_data">
            <div class="user_font user_font_title">【装备】</div>
            <div class="user_font  wupin">
                {{each najie.装备 item}}
                <div class="item">
                    <div class="item_title">
                        【{{item.type}}】{{item.name}}
                    </div>
                    {{if item.type == "武器"}}
                    <div class="item_int">攻击：{{item.atk}}</div>
                    {{/if}}
                    {{if item.type == "护具"}}
                    <div class="item_int">防御：{{item.def}}</div>
                    {{/if}}
                    {{if item.type == "法宝"}}
                    <div class="item_int">血量：{{item.HP}}</div>
                    <div class="item_int">暴击：{{item.bao*100}}%</div>
                    {{/if}}
                    <div class="item_int">数量：{{item.数量}}</div>
                    <div class="item_int">出售价：{{item.出售价}}星魂币</div>
                    <div class="item_int">锁定状态：({{['未锁定','已锁定'][item.islockd]}})</div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/if}}
    <!--下-->
    {{if najie.道具.length > 0}}
    <div class="card_box">
        <div class="use_data">
            <div class="user_font user_font_title">【道具】</div>
            <div class="user_font  wupin">
                {{each najie.道具 item}}
                <div class="item">
                    <div class="item_title">{{item.name}}</div>
                    <div class="item_int">数量：{{item.数量}}</div>
                    <div class="item_int">介绍：{{item.desc}}</div>
                    <div class="item_int">出售价：{{item.出售价}}星魂币</div>
                    <div class="item_int">锁定状态：({{['未锁定','已锁定'][item.islockd]}})</div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/if}}
    {{if najie.材料.length > 0}}
    <div class="card_box">
        <div class="use_data">
            <div class="user_font user_font_title">【材料】</div>
            <div class="user_font  wupin">
                {{each najie.材料 item}}
                <div class="item">
                    <div class="item_title">{{item.name}}</div>
                    <div class="item_int">数量：{{item.数量}}</div>
                    <div class="item_int">出售价：{{item.出售价}}星魂币</div>
                    <div class="item_int">锁定状态：({{['未锁定','已锁定'][item.islockd]}})</div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/if}}
    {{if najie.食材.length > 0}}
    <div class="card_box">
        <div class="use_data">
            <div class="user_font user_font_title">【食材】</div>
            <div class="user_font  wupin">
                {{each najie.食材 item}}
                <div class="item">
                    <div class="item_title">{{item.name}}</div>
                    <div class="item_int">数量：{{item.数量}}</div>
                    <div class="item_int">介绍：{{item.desc}}</div>
                    <div class="item_int">出售价：{{item.出售价}}星魂币</div>
                    <div class="item_int">锁定状态：({{['未锁定','已锁定'][item.islockd]}})</div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/if}}
    {{if najie.箱子.length > 0}}
    <div class="card_box">
        <div class="use_data">
            <div class="user_font user_font_title">【箱子】</div>
            <div class="user_font  wupin">
                {{each najie.箱子 item}}
                <div class="item">
                    <div class="item_title">{{item.name}}</div>
                    <div class="item_int">数量：{{item.数量}}</div>
                    <div class="item_int">保底数：{{item.baodi}}</div>
                    <div class="item_int">出售价：{{item.出售价}}星魂币</div>
                    <div class="item_int">锁定状态：({{['未锁定','已锁定'][item.islockd]}})</div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/if}}
    <div class="item_int">版本:{{修仙版本[0].version}}「{{修仙版本[0].name}}」 by:屑洛(2531606029)</div>
    </div>
    <div class="user_bottom2">
    </div>
</body>

</html>