<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{{pluResPath}}/html/yijie_secret_place/yijie_secret_place.css" />
  <!-- <link rel="stylesheet" type="text/css" href="../../html/player/player.css" /> -->
  <link rel="preload" href="../../font/tttgbnumber.ttf" as="font" />
  <!-- <link rel="preload" href="../../img/player/xiuxian-01.png" as="image" /> -->
  <link rel="shortcut icon" href="#" />
  <title>{{addres}}</title>
</head>

<body>
  <div>
    <div class="user_bottom1">
      <div class="use_data">
        <div class="user_font head" style="text-align: center; padding-left: 0px">
          <div>{{addres}}</div>
          <div style="font-size: 0.8em">探寻异界秘境指令：#探寻异界秘境+秘境名</div>
          <div style="font-size: 0.8em">当前拥有仙鼎历练券数：{{lilianquan}}</div>
          <div style="font-size: 0.8em;color: red;">注:如进入需消耗物品则会在该秘境名下方显示需要物品数</div>
        </div>
      </div>
      {{each didian_list item}}
      <div class="use_data">
        <div class="card">
          <div class="use_data_head">
            <div class="user_font">
              <div>
                <div style="display: inline-block">
                  【{{item.name}}】{{item.Grade}}
                </div>
                {{if item.xinghunbi}}
                <div class="price">需要星魂币:{{item.xinghunbi}}</div>
                {{/if}}
                {{if item.name.includes("仙鼎历练")}}
                <div class="item_int">需要仙鼎等级：{{item.tuijian}}</div>
                {{else}}
                <div class="item_int">推荐仙鼎等级：{{item.tuijian}}</div>
                {{/if}}
              </div>
            </div>
          </div>
          <div class="use_data_body">
            <div class="user_font">
              <div>
                <div>
                  {{each item.contents thing}}
                  <div class="info">掉落物品：</div>
                  <div style="padding-left: 20px">
                    {{each thing.items b}}
                    <div class="info2">{{b.name}}</div>
                    {{/each}}
                    <div class="info">掉落概率：{{thing.rate}}</div>
                    <br />
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  </div>
  <style></style>
</body>

</html>